
body {
	font-family: 'Rubik Mono One', sans-serif;
	font-family: 'Rubik', sans-serif;
	background-color: #F3F7FE;
}

.fullscreen {
	position: relative;
	min-height: 500px;
	height: 70vh;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.float {
	position: fixed;
	z-index: 50;
}

.float a {
	box-shadow: 4px 4px 14px #888888;
}

.float.resume {
	top: 20px;
	right: 20px;
}

#title-container {
	margin-top: 14vh;
	margin-right: 4vw;
	margin-left: 4vw;
	margin-bottom: 10vh;
}

#title-container>h1 {
	font-weight: 900;
	font-size: 46px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 900; 
}

#title-container>h4 {
	font-size: 20px;
}

.social {
	text-align: center;
}

.social a {
	display: inline-block;
	margin-right: 40px;
	margin-left: 40px;
	opacity: 0.75;
}

.social a:hover, .social a:focus {
	opacity: 1;
}

.scroll {
	background-image: none;
	background-color: transparent;
	border: none;
}

.scroll.top {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-image: none;
	background-color: transparent;
	border: none;
}

.scroll.bottom {
	margin-bottom: 8%;
}

.scroll>span:not(.glyphicon) {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
	letter-spacing: 1px;
	color: #9FBCF6;
}

a {
	color: #2D70F3;
}

a:hover, a:focus, .scroll>span:hover, .scroll>span:focus {
	color: #0353F1;
}

.scroll>.glyphicon {
	font-size: 1.8em;
	color: #2D70F3;

	-webkit-animation: float 1s alternate linear infinite;
	-moz-animation: float 1s alternate linear infinite;
	-o-animation: float 1s alternate linear infinite;
	animation: float 1s alternate linear infinite;
}

@-webkit-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@-moz-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@-o-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@keyframes float { 
	0%{transform: translateY(0%)}
	100%{transform: translateY(30%)}
}

.skew {
	transform: skewY(-7deg);
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
}

.container-fluid>.row:first-of-type>.skew {
	margin-top: 0px;
}

.skew.last {
	margin-bottom: 0px;
}

.gradient-text {
	color: #ffa700;   /*fallback for non-webkit browsers*/

	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;

	background: -webkit-linear-gradient(251deg, #0353f1, #ffa700, #0353f1);
	background-size: 600% 600%;

	-webkit-animation: gradientShift 12s ease infinite;
	-moz-animation: gradientShift 12s ease infinite;
	-o-animation: gradientShift 12s ease infinite;
	animation: gradientShift 12s ease infinite;
}

.skew hr {
	border: none;
	height: 1px;
	background: linear-gradient(270deg, rgba(159, 188, 246, 0.2), rgba(3, 83, 241, 0.8), rgba(159, 188, 246, 0.2));
	background-size: 600% 600%;

	-webkit-animation: gradientShift 14s ease infinite;
	-moz-animation: gradientShift 14s ease infinite;
	-o-animation: gradientShift 14s ease infinite;
	animation: gradientShift 14s ease infinite;
}

@-webkit-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes gradientShift { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.img-bottom {
	box-shadow: 2px 2px 5px #666666;
	width: 90%;
	margin-bottom: 8%;
}

.img-top {
	box-shadow: 4px 4px 12px #888888;
	position: absolute;
	top: 15%;
	right: 7%;
	height: 87%;
}

a[aria-expanded="true"] .caret {
	border-top: none;
    border-bottom: 4px solid #000000;
}

.project-links {
	margin-top: 10px;
	font-size: 1.1em;
}

.link-right {
	float: right;
}

#footer {
	margin-bottom: 20px;
}


/*BOOTSTRAP OVERRIDES */

.label {
	font-weight: 400;
}

.label-default {
	background-color: #FFA700;
	color: white;
}

button, .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn-primary {
	background-color: #2D70F3;
}

.btn-primary:hover {
	background-color: #0353F1;
}

.well {
	background-color: #FFFBF3;
}


/*================
MEDIA QUERIES
===============*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.fullscreen {
		height: 76vh;
	}

	#title-container {
		margin-right: 10vw;
		margin-left: 10vw;
	}

	#title-container>h1 {
		font-size: 70px;
		letter-spacing: 5px;
	}

	#title-container>h4 {
		font-size: 22px;
	}

	.container-fluid>.row:first-of-type>.skew {
		margin-top: 38px;
	}

	.skew.last {
		margin-bottom: 38px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#title-container {
		margin-right: 7vw;
		margin-left: 7vw;
	}

	#title-container>h1 {
		font-size: 86px;
		letter-spacing: 5px;
	}

	#title-container>h4 {
		font-size: 24px;
	}

}
