
body {
	font-family: 'Rubik Mono One', sans-serif;
	font-family: 'Rubik', sans-serif;
	background-color: #F3F7FE;
}

a>img {
	padding-bottom: 5px;
}


#resume-floater {
	position: fixed;
	top: 3%;
	right: 3%;
	box-shadow: 5px 5px 30px #888888;
	z-index: 50;
}

#page-title {
	font-size: 1.8em;
	margin-top: 11vh;
	margin-bottom: 18vh;
}

#page-title>h1 {
	font-weight: 900;
	font-size: 1.8em;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 900; 
}

.scroll {
	/*min-width: 250px;*/
	background-image: none;
	background-color: transparent;
	border: none;
}

#scroll-projects {
	margin-top: 9vh;
	margin-bottom: -5vh;
}

#scroll-top {
	margin-bottom: 8%;
}

.scroll>h4 {
	letter-spacing: 1px;
	color: #9FBCF6;
}

.scroll>.glyphicon {
	font-size: 1.8em;
	color: #2D70F3;

	-webkit-animation: float 1s alternate linear infinite;
	-moz-animation: float 1s alternate linear infinite;
	-o-animation: float 1s alternate linear infinite;
	animation: float 1s alternate linear infinite;
}

@-webkit-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@-moz-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@-o-keyframes float {
	0%{transform: translateY(0%)}
	100%{transform: translateY(100%)}
}
@keyframes float { 
	0%{transform: translateY(0%)}
	100%{transform: translateY(30%)}
}

.skew {
	transform: skewY(-7deg);
	/*padding-bottom: 100px;*/
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.skew hr {
	border: none;
	height: 1px;
	background: linear-gradient(270deg, rgba(159, 188, 246, 0.2), rgba(3, 83, 241, 0.8), rgba(159, 188, 246, 0.2));
	background-size: 600% 600%;
	/*opacity: 0.5;*/

	-webkit-animation: gradientShift 14s ease infinite;
	-moz-animation: gradientShift 14s ease infinite;
	-o-animation: gradientShift 14s ease infinite;
	animation: gradientShift 14s ease infinite;
}

.gradient-text {
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;

	background: linear-gradient(251deg, #0353f1, #ffa700, #0353f1);
	background-size: 600% 600%;

	-webkit-animation: gradientShift 12s ease infinite;
	-moz-animation: gradientShift 12s ease infinite;
	-o-animation: gradientShift 12s ease infinite;
	animation: gradientShift 12s ease infinite;
}

@-webkit-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes gradientShift {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes gradientShift { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.img-bottom {
	box-shadow: 10px 10px 26px #888888;
	width: 90%;
	margin-bottom: 8%;
}

.img-top {
	box-shadow: 15px 15px 50px #888888;
	position: absolute;
	top: 15%;
	right: 7%;
	height: 87%;
}

a[aria-expanded="true"] .caret {
	border-top: none;
    border-bottom: 4px solid #000000;
}

.project-links {
	margin-top: 10px;
	font-size: 1.1em;
}

.link-right {
	float: right;
}

#footer {
	margin-bottom: 40px;
}


/*BOOTSTRAP OVERRIDES */

a {
	color: #2D70F3;
}

a:hover, a:focus {
	color: #0353F1;
}

.label {
	font-weight: 400;
}

.label-default {
	background-color: #FFA700;
	color: white;
}

button, .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn-primary {
	background-color: #2D70F3;
}

.btn-primary:hover {
	background-color: #0353F1;
}

.well {
	background-color: #FFFBF3;
}


/*================
MEDIA QUERIES
===============*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#page-title {
		font-size: 2.5em;
		margin-top: 13vh;
		margin-bottom: 18vh;
	}

	#page-title>h1 {
		font-size: 2.5em;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: 900; 
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#projects-link {
		margin-top: 2vh;
		margin-bottom: -5vh;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#projects-link {
		margin-top: 9vh;
		margin-bottom: 0vh;
	}

}
